.c-red {
	--col: #c91508;
}

.c-green {
	--col: #438c03;
}

.c-blue {
	--col: #1848f5;
}

.c-yellow {
	--col: #f1f514;
}

.c-black {
	--col: #000;
}

.c-white {
	--col: #fff;
}

.c-gray {
	--col: #888;
}

.c-orange {
	--col: #fc8e08;
}

.c-purple {
	--col: #6608fc;
}

.c-pink {
	--col: #e408fc;
}

.c-brown {
	--col: #854701;
}

.c-sky-blue {
	--col: #20aef5;
}

.s-square {
	background-color: var(--col);
	clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
	aspect-ratio: 1 / 1;
}

.s-circle {
	background-color: var(--col);
	clip-path: circle(50% at 50% 50%);
	aspect-ratio: 1 / 1;
}

.s-triangle {
	background-color: var(--col);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

	aspect-ratio: 1 / 1;
}
